$black : #1b1b1b;
$mango : #F4BB44;
$defaultsize: 1rem;


/* common */
@mixin hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
}

@mixin inner {
    position: relative;
    width: 1100px;
    margin: 0 auto;
}

@mixin flexLayout {
    display: flex;
    align-items: center;
}

@mixin gridLayout {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 1rem;
    text-align: center;
    font-size: &-default;
}

label>span {
    position: absolute;
    visibility: hidden;
}

.fs {
    &-small {
        font-size: 0.5rem;
    }

    &-default {
        font-size: 1rem;
    }

    &-large {
        font-size: 1.5rem;
    }
}

main {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

/* header */
header {
    width: 100%;
    background-color: #F6F5F0;
    border-bottom: 1px solid #c8c8c8;

    .inner {
        @include inner;
        padding: 20px 0;
    }
}


// nav
// .nav {
//     display: flex;
//     justify-content: flex-end;
//     // height: 150px;

//     .logo {
//         display: grid;
//         align-content: center;
//         width: 200px;
//         padding-bottom: 20px;

//         img {
//             width: 100%;
//         }
//     }
// }



// search

// .searchBox {

//     display: flex;
//     position: relative;
//     align-items: center;
//     width: 100%;
//     padding: 0 30px;

//     .submitBox {
//         width: 100%;

//         input {
//             width: 100%;
//             height: 50px;
//             padding: $defaultsize;
//             font-size: 1.5rem;
//             border-radius: 10px;
//             border: none;
//             outline: none;
//             box-sizing: border-box;
//         }

//         input::placeholder {
//             color: rgb(231, 231, 231);
//             font-style: italic;
//         }

//         input:focus-within {
//             border: 1px solid $mango;
//             box-shadow: 6px 6px 11px -8px rgba(0, 0, 0, 0.57);

//         }

//     }

//     .searchBtn {
//         position: absolute;
//         right: 50px;

//         button {
//             margin: 0;
//             padding: 10px 16px;
//             background: none;
//             border: none;
//             cursor: pointer;

//             svg {
//                 height: 1.5rem;
//                 color: $mango
//             }
//         }
//     }

// }

// loginBox
.loginForm {
    display: flex;
    flex-direction: column;
    left: 50%;
    max-width: 500px;
    padding: 20px 0;
}


.loginContWrap {
    flex: 1;

    .loginInfo {
        @include flexLayout;
        margin-top: 8px;

        .tit {
            min-width: 53px;
            margin-right: 7px;
            font-size: .8rem;
            line-height: 1.2rem;
            color: #262626;
        }
    }
}

.inputWrap {
    display: flex;
    padding: .3rem;
    background-color: white;
    border-radius: 8px;
    border: 1px solid #e2e0e0;

    span {
        position: absolute;
        visibility: hidden;
    }

    input {
        // width: 100%;
        height: 17px;
        font-size: 14px;
        font-weight: 400;
        border: none;
        outline: none;
    }

    input::placeholder {
        color: #dadada;
    }
}

.inputWrap:focus-within {
    border: 1px solid $mango;
}




.errormessage p {
    margin-top: 8px;
    color: #ef0000;
    font-size: 12px;
}

.logBtn {
    margin-top: $defaultsize;
    padding-left: 61px;

    button {
        width: 100%;
        height: 36px;
        border: none;
        font-weight: bold;
        border-radius: 64px;
        background-color: $mango;
        color: white;
        margin-bottom: 16px;
        cursor: pointer;
    }

    button:disabled {
        background-color: #dadada;
        color: white;
    }
}

.container {
    flex: 1;

    .cont__inner {
        @include flexLayout;
        height: 100%;

        .map__area {
            flex: 1;
            height: 100%;
        }

        .bookMark__area {
            width: 400px;
            height: 100%;
            padding: 20px;

            h3 {
                margin: 35px 0 30px;
                font-size: 2rem;
                text-align: center;
            }

            ul li {
                @include flexLayout;

                .imgbox {
                    width: 150px;
                    height: 150px;

                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
            }

            ul li~li {
                margin-bottom: 20px;
            }
        }
    }
}

.navbar-login {
    @include flexLayout;

    // a {
    //     display: block;
    //     padding: 12px;

    //     span {
    //         @include hidden;
    //     }
    // }

    button {
        // width: 80px;
        // height: 32px;
        // margin-left: 5px;
        // border: none;
        // border-radius: 3px;
        // background-color: $mango;
        // color: #fff;

        span {
            @include hidden;
        }
    }
}